.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .content {
    text-align: center;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    
    &:hover {
      background-color: #0056b3;
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
  
  fa-icon {
    font-size: 3rem;
    transition: transform 0.3s ease-in-out;
  }
  
  .icon-enter {
    transform: scale(0);
  }
  
  .icon-enter-active {
    transform: scale(1);
  }
  